.teacherBlock{
    background-color: #ebebeb;
    font-family: 'Quicksand', sans-serif;
    .teacherContainer{
        padding: 1rem 2rem 1rem 2rem;
        .mainHeader{
            color:#fff;
            font-size: 2rem;
            padding:3rem;
            text-align: center;
            background: #333333;
        }
    }
}


