@import './base/settings';
@import './base/base';

.fullBody{
    display: flex;
}

.sidePage{
    flex:12;
}

// Comment

.MainBody{
    flex: 12;
    background-color: #ebebeb;
    min-height: 100vh;
    padding-top:5rem;
    color:#555;
    h1{
        font-family: 'Quicksand', sans-serif;
        font-size: 2.9rem;
        padding-bottom:2rem;
    }
    .errorMessage{
        color: red;
        margin-bottom:1rem;
        display: inline-block;
    }

    .confirmationMessage{
        color: green;
        margin-bottom:1rem;
        display: inline-block;
    }
}


.Container{
    width: 30rem;
    margin:auto;
    background-color: white;
    padding:1rem 3rem 2rem 3rem;
    border-radius: 0.8rem;
}

.FormContainer{
    font-family: 'Play', sans-serif;
    .Label{
        display: block;
        cursor:pointer;
        padding-bottom: 1rem;
        
    }

    .errorMessage{
        color:red;
        margin-bottom: 1rem;
    }

    .inputDiv{
        border:1px solid #e6e6e6;
        border-radius: 2px;
        margin-bottom: 1rem;
        font-size:1.6rem;
        color:#555;
    }

    .inputErrorDiv{
        margin-bottom: 1rem;
        .inputDiv{
            margin-bottom: 1rem;
        }
    }
    
    .inputDiv > input{
        display: block;
        padding:0 1rem 0 1rem;
        height: 3rem;
        width: 100%;
        border:none;
        outline: none;
        color:#555;
        font-size:1.3rem;
    }
    
    .selectDiv{
        border: 1px solid #e6e6e6;
        margin-bottom: 2rem;
        select{
            background: none;
            display: block;
            width: 100%;
            height: 3em;
            border: none;
            font-family: 'Quicksand', sans-serif;
            font-size: 1.2rem;
        }
    }

    .Button{
        background-color: #333;
        display:inline-block;
        width:9rem;
        padding:1rem;
        border-radius:2rem;
        text-align: center;
        color:white;
        font-size:1rem;
        border: none;
        &:hover{
            cursor: pointer;
            background-color:green
        }
    }


}










.ListBlock{
    font-family: 'Quicksand', sans-serif;
    margin-top:2rem;
    background-color: #f1f3f4;
    padding: 2rem 2rem;
    box-shadow: 3px -2px 6px #333;
    header{
        padding:0 0 1rem 1rem;
        font-size: 1.5rem;

    }

    .Component_Body{
        background-color: #28a745;
        color: #fff;
        margin-bottom:0.2rem;
        border-radius:5px;
        
        .Component_Data{
            display:flex;
            justify-content:space-between
        }
        
        span{
            font-size:1rem;
            color:#333;
        }
        
        button{
            font-family: 'Quicksand', sans-serif;
            cursor: pointer;
            background-color: #dcdcdc;
            display:inline-block;
            padding:0.5rem 1rem;
            border-radius:15px;
            text-align: center;
            color:black;
            font-size:0.8rem;
            border:none;
            &:hover{
                background-color: #dc3545;
                color:#fff;
            }
        }
    }
    
    .Component_notPresent{
        background-color: #dc3545;
        color: #6c757d;
        button:hover{
            background-color: #28a745;
            color: #333;
        }
        span{
            color: #dcdcdc;
        }
    }
    .Component_Container{
        padding:1rem 2rem;
    
    }

}    




