.SignUpMainBody{
//     flex: 12;
//     background-color: #ebebeb;
//     min-height: 100vh;
//     padding-top:2.6rem;
//     padding-bottom: 2.5rem;
//     color:#555;
//     h1{
//         font-family: 'Quicksand', sans-serif;
//         font-size: 2.8rem;
//         padding-bottom:1.8rem;
//     }
// }

// .SignUpContainer{
//     width: 36rem;
//     margin:auto;
//     background-color: white;
//     padding:3.4rem;
//     border-radius: 0.8rem;
// }

// .SignUpFormContainer{
//     font-family: 'Play', sans-serif;
//     .usernameLabel,.pwdLabel,.roleLabel{
//         display: block;
//         padding-bottom: 0.8rem;
        
//     }
    

//     .inputDiv{
//         border:1px solid #e6e6e6;
//         border-radius: 2px;
//         margin-bottom: 2.6rem;
//         font-size:1.6rem;
//         color:#555;
//     }

//     .inputErrorDiv{
//         margin-bottom: 2.6rem;
//         span{
//             color: red;
//         }
//         .inputDiv{
//             margin-bottom: 1rem;
//         }
//     }

//     .inputDiv > input{
//         display: block;
//         padding:0 1rem 0 1rem;
//         height: 3.6rem;
//         width: 100%;
//         border:none;
//         outline: none;
//         color:#555;
//         font-size:1.3rem;
//     }

//     label{
//         cursor:pointer;
//     }

//     input[type="checkbox"]{
//         margin-right: 0.3rem;
//         height: 16px;
//         width: 16px;
//         vertical-align: bottom;
//     }

    .SignUpFooter{
        display: flex;
        justify-content: space-between;
        label{
            vertical-align:top;
        }
        margin-bottom:2.7rem;
    }

//     .SignUpButton{
//         background-color: #333;
//         display:inline-block;
//         width:8rem;
//         padding:1.5rem;
//         border-radius:3rem;
//         text-align: center;
//         color:white;
//         font-size:1.1rem;
//         border:none;
//         &:hover{
//             cursor: pointer;
//             background-color:green
//         }
//     }

//     .selectDiv{
//         border: 1px solid #e6e6e6;
//         margin-bottom: 2rem;
//     }

//     select{
//         background: none;
//         display: block;
//         width: 100%;
//         height:3.8em;
//         border:none;
//         font-family: 'Quicksand', sans-serif;
//         font-size: 1.2rem
//     }

}