.student_ListBlock{
    font-family: 'Quicksand', sans-serif;
    margin-top:2rem;
    background-color: #f1f3f4;
    padding: 2rem 2rem;
    box-shadow: 3px -2px 6px #333;
    header{
        padding:0 0 1rem 1rem;
        font-size: 1.5rem;

    }
    .student_MainContainer{
    }
}



.studentComponent_Body{
    background-color: #28a745;
    color: #fff;
    margin-bottom:0.2rem;
    border-radius:5px;
    
    .studentComponent_Data{
        display:flex;
        justify-content:space-between
    }
    
    button{
        font-family: 'Quicksand', sans-serif;
        cursor: pointer;
        background-color: #dcdcdc;
        display:inline-block;
        padding:0.5rem 1rem;
        border-radius:15px;
        text-align: center;
        color:black;
        font-size:0.8rem;
        border:none;
        &:hover{
            background-color: #dc3545;
            color:#fff;
        }
    }
}

.notConfirmed{
    background-color: #dc3545;
    button:hover{
        background-color: #28a745;
        color: #333;
    }
}
.studentComponent_Container{
    padding:1rem 2rem;

}


